{% extends "dj_store_admin/base.html" %}
{% load bootstrap4 %}
{% block contents %}
<div class="row">
    <div class="col">
        <h1>{{produto.nome}}</h1>
        <div>{{produto.descricao|linebreaks}}</div>
    </div>
    <div class="col-3">
        <h3>Comprar</h3>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            {% buttons %}
            <button type="submit" class="btn btn-success">Confirmar</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock contents %}